#!/usr/bin/make -f
%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	dh_auto_configure -- \
		-DCMAKE_BUILD_TYPE=RelWithDebInfo \
		-DCMAKE_LIBRARY_PATH=$(DEB_HOST_MULTIARCH) \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DBUILD_SHARED_LIBS=YES \
		-DBUILD_STATIC_LIBS=YES \
		-DREDIS_SERVER=NO \
		-DREDIS_CLIENT=NO \
		-DCOMPILE_EXAMPLES=NO \
		-DCOMPILE_STUBGEN=YES

override_dh_strip:
	dh_strip -plibjsonrpccpp-common1 --dbg-package=libjsonrpccpp-common1-dbg
	dh_strip -plibjsonrpccpp-server1 --dbg-package=libjsonrpccpp-server1-dbg
	dh_strip -plibjsonrpccpp-client1 --dbg-package=libjsonrpccpp-client1-dbg
	dh_strip -plibjsonrpccpp-stub1 --dbg-package=libjsonrpccpp-stub1-dbg
	dh_strip -plibjsonrpccpp-tools
	dh_strip -plibjsonrpccpp-dev

